body {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
}

a {
  color: inherit;
}

.top-section {
  display: block;
  text-align: center;
  height: 300px;
  width: 100%;
  padding: 5rem 0;
  background-image: url(pattern-bg.webp);
  background-size: 100%;
}

.register-form {
  margin-top: -2rem;
}

.register-heading::after {
  content: "";
  display: block;
  width: 35px;
  height: 5px;
  background: #198754;
  margin: 10px auto 0 2px;
}
